* {
    font-family: 'Times New Roman', Times, serif;
}

header, footer {
    background: navy;
    color: silver;
    width: 100%;
}

header {
    position: fixed;
    right: 0%;
    top: 0%;
}

h1 {
    text-align: left;
    margin-left: 10px;
}

h2, h4 {
    text-align: center;
    
}

li a {
    color: silver;
}

p a {
    color: black;
}
nav ul {
    text-align: right;
}

nav li {
    display: inline;
    list-style-type: none;
    font-size: 30px;   
}

a:hover {
    color: white;
}

.section1 {
    background-color: gray; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-proj-cont {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.large-proj {
    border: solid 5px red;
    width: 60vw;
    height: 30vh;
}

.small-proj {
    border: solid 5px red;
    width: 35vw;
    height:25vh;
}

#about-me {
    margin-top: 15%;
}

.section2 {
    background-color: navy;
    color: silver; 
    height: 600px;
}
img {
    width: 200px;
    height: 250px;
    margin-left: 25px;
}

p {
   margin-right: 25px; 
   position: relative;
   bottom: 250px;
   left: 250px;
}


#contact-section {
    text-align: center;
    position: relative;
    right: 0%;
    bottom: 0%;
  }

footer ul {
    text-align: center;
    list-style-type: none;
}