* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

header {
    background: navy;
    color: silver;
    width: 100%;
}

header {
    /* position: fixed; */
    right: 0%;
    top: 0%;
}

h1 {
    text-align: left;

}

h2, h4 {
    text-align: center;
    margin-bottom: 10px;
    
}

li a {
    color: silver;
}

p a {
    color: black;
}
nav ul {
    text-align: right;
}

nav li {
    display: inline;
    list-style-type: none;
    font-size: 30px;   
}

a:hover {
    color: white;
}

.section1 {
    background-color: gray;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    
}

.section2 {
    background-color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: silver;
    border-bottom: solid 5px black;
}

.small-proj-cont {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.large-proj {
    border: solid 5px black;
    width: 60vw;
    height: 30vh;
}

.small-proj {
    border: solid 5px black;
    width: 35vw;
    height:25vh;
}

img {
    width: 200px;
    height: 250px;
}

p { 
   margin-right: 45%; 
   position: relative;
   bottom: 255px;
   left: 210px;
}


#contact-section {
    background-color: gray;
    text-align: center;
    position: relative;
    right: 0%;
    bottom: 0%;
  }

footer ul {
    text-align: center;
    list-style-type: none;
}